@import '@scss/variables';
@import '@/scss/components/boton.scss';

.navbar {
    color: $bk-principal;
    // height: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0px 12px 7px -8px rgba(179, 179, 179, 1);
    // position: sticky;
    width: 100%;
    background-color: white;

    .bi-list {
        font-size: 40px;
    }
    img {
        width: 60px;
        height: 50px;
        filter: invert(1) brightness(2);
        display: none;
    }

    .name {
        font-family: 'Cascadia Code';
    }

    .btns {
        display: flex;
        gap: 10px;
    }

    // button {
    //     display: flex;
    //     gap: 8px;
    //     align-items: center;
    //     border: none;
    //     border-radius: 8px;
    //     padding: 8px;

    //     span {
    //         font-size: 16px;
    //     }
    //     .login {
    //         font-size: 20px;
    //     }
    // }
}

.hero {
    height: 230px;
    width: 100%;
    background-image: url('../../assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7);
}

.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bk-grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 50px;
}
