@import '@scss/variables';
@import '@/scss/components/boton.scss';

.search {
    border-top-left-radius: 20px;
    border-radius: 20px;
    width: 100%;
    top: -40px;
    height: 250px;
    background: linear-gradient(220.55deg, $bk-purple-1 0%, $bk-purple-2 100%);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 2px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 830px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;

    .search-lista {
        display: flex;
        justify-content: center;
        gap: 80px;
        list-style: none;
        padding: 0px;
    }

    .search-info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h2 {
            font-size: 24px;
            text-align: center;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        select,
        button {
            height: 40px;
            border-radius: 8px;
            border: none;
        }
        select {
        }

        button {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            .bi-search {
                font-size: 20px;
            }

            span {
                font-size: 20px;
            }
        }
    }
}
