$gap-values: (5px, 8px, 12px, 16px, 20px, 24px, 32px, 48px, 64px);

$text: (
    'font-sizes': (
        8,
        12,
        16,
        20,
        24,
        32,
        48,
        64
    )
);

$bk-principal: #303ab2;
$bk-green: #60e550;
$bk-purple-1: #ad3be1;
$bk-purple-2: #4300b1;
$boton-default: #191825;
$red: #e21818;
$bk-grey: #f4f4fb;
